@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hide{
    display: none;
}


/* shared style */
.display-flex{
    display: flex;
}


/* header style */
.header-bg{
    background-color: rgba(255, 144, 14, 0.1);
}


/* navbar style start */
.navbar{
    justify-content: space-between;
    align-items: center;
    /* padding-top: 1rem; */
    padding-top: 1rem;
}


.nav-item{
    margin-right: 30px;
}

.navbar, .baner{
    max-width: 1440px;
    margin: 0 auto;
    /* margin-bottom: 50px; */
}

.brand{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    /* dark 01 */
    color: rgba(19, 19, 19, 1);
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0;
    /* adrk 02 */
    color: rgba(66, 66, 66, 1);
}
/* nav style end */



/* baner style start */
.baner{
    padding-bottom: 1rem;
    margin-bottom: 5rem;
}
.baner-content{
    max-width: 863px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
}

.baner-tittle{
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    /* dark 01 */
    color: rgba(19, 19, 19, 1);
    text-align: center;
    margin-bottom: 1.5rem;
    
}

.baner-description{
    font-size: 1rem;
    font-weight: 400;
    /* dark 03 */
    color: rgba(114, 114, 114, 1);
    text-align: center;
    margin-bottom: 1rem;
}

.btn-primary{
    font-size: 14px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 8px;
    padding: 14px 15px;
    margin-bottom: 2rem;
}

.baner-img{
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* feature section start */
.feature-container{
    align-items: center;
    margin-bottom: 130px;
  
}

.features-tittle{
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* tittle color */
.dark-color-1{
    color: rgba(19, 19, 19, 1);
}
.dark-color-2{
  color: rgba(114, 114, 114, 1);
}
.orange-color-3{
   color: rgba(255, 144, 14, 1) ;
}



/* feature-description */

.features-content{
    margin-left: 7rem;
}
.feature-description{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 15px;
}

/* feature img */
.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
/* fetuare section end */

/* card part start */
.menu-container{
    gap: 8rem;
    margin-bottom: 7rem;
}

.menu-tittle{
    font-size: 2.5rem;
    font-weight: 700;
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 10px;
    margin-bottom: 1rem;
}

.menu-description{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 3rem;
}


/* m- item desing start */

.m-item{
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   padding: 30px;
   margin-bottom: 2rem;
}

.m-tittle{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin-bottom: 0.8rem;
    
}

.m-info{
    font-size: 1rem;
    font-weight: 400;
    color:rgba(114, 114, 114, 1);
}

/* img button design */
.img-batch{
    padding:43px;
    background-color:rgba(255, 144, 14, 1);
    margin-top: -100px;
    margin-left: -90px;
    
}
.img-age{
    font-size: 3.5rem;
    font-weight: 900;

}
.img-bio{
    font-size: 2rem;
    font-weight: 400;
}
/* card part end */



/* facts part start */
.facts-title{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 100%;
    color: rgba(66, 66, 66, 1);
    margin-bottom: 1.5rem;

}

.facts-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color:  rgba(114, 114, 114, 1);
    width: 36rem;
    margin-bottom: 8rem;

}






/* media query start */
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }

    .brand{
        margin-bottom: 30px;
    }

    /* features section */
    .feature-container {
        flex-direction: column-reverse;
    }

    .features-content{
        margin: 2rem;
    }


    .features-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }


    /* menu section */
    .menu-container{
        flex-direction: column;
    }

    .menu-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-img img{
        width: 100%;
    }

    .img-batch{
        margin: 1.5rem;
    }
}

@media screen and (min-width:577px) and (max-width: 768px){
       .navbar{
        flex-direction: column;
     }

     .brand{
        margin-bottom: 30px;
    }

     /* features section */
    .feature-container {
        flex-direction: column-reverse;
    }

    .features-content{
        margin: 3rem;
    }

    .features-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 2rem;
    }

       /* menu section */
    .menu-container{
        flex-direction: column;
        margin: 3rem;

    }

    .menu-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-img img{
        width: 100%;
    }

    .img-batch{
        margin: 1.5rem;
    }

}

@media screen and (min-width:768px) and (max-width: 1450px){
    .features-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }

    .feature-container {
        flex-direction: column-reverse;
    }

    /* menu section */
    .menu-container{
        flex-direction: column;
        margin: 3rem;
        
    }

    .menu-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-img img{
        width: 100%;
    }

    .img-batch{
        margin: 1.5rem;
    }

    .menu-pu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
    /* card part end */
    


}